body {
  overflow-x: hidden;
  min-width: 400px;
}
.btn {
  background-color: #9072c2 !important;
  border-color: #9072c2 !important;
  color: white !important;
}
.btn:hover {
  background-color: #8b67c5 !important;
  border-color: #8b67c5 !important;
}
.btn:focus {
  box-shadow: 0 0 0 0.2rem #9172c279 !important;
}
a {
  color: #9072c2 !important;
}
.form-control:focus {
  color: #495057;
  border-color: #9172c279 !important;
  box-shadow: 0 0 0 0.2rem #9172c279 !important;
  outline: 0;
}
.font_s{
  font-size: 16px !important;
}

.card{
  border: 1px solid #9172c296 !important;
}

.navbar-brand{
  color: #9072c2 !important;
  font-weight: 700 !important;
  font-size: 2.5rem !important;
  font-family:cursive;
}