body {
  overflow-x: hidden;
}
.btn {
  background-color: #9072c2 !important;
  border-color: #9072c2 !important;
}
.btn:hover {
  background-color: #8b67c5 !important;
  border-color: #8b67c5 !important;
}
.btn:focus {
  box-shadow: 0 0 0 0.2rem #9172c279 !important;
}
a {
  color: #9072c2 !important;
}
.form-control:focus {
  color: #495057;
  border-color: #9172c279 !important;
  box-shadow: 0 0 0 0.2rem #9172c279 !important;
  outline: 0;
}
