.midcard{
    border: 1px solid rgb(226, 226, 226) !important;
    border-radius: 6px !important;
    height: 200px !important;
}

.CircularProgressbar {
    width: 200px !important;
}

.savings{
    width: 200px !important;
    padding-bottom: 60px !important;
    padding-left: 40px;
}