

.CircularProgressbar {
    width: 200px !important;
}

.savings{
    width: 200px !important;
    padding-bottom: 60px !important;
    padding-left: 40px;
}

.cardsec{
    border: none !important;
}